/* Add CSS here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
/*===== VARIABLES CSS =====*/

:root {
    --h1-fs: 2rem;    --h1-fs-media: 3rem; 
    --h2-fs: 1.5rem;  --h2-fs-media: 2rem;
    --h3-fs: 1.3rem;  --h3-fs-media: 1.8rem;
    --h4-fs: 1.1rem;  --h4-fs-media: 1.5rem;
    --p-fs: .8rem;    --p-fs-media: 1.1rem;
    --a-fs: .7rem;    --a-fs-media: 1.1rem;
    --li-fs: .7rem;   --li-fs-media: 1.1rem;    

    --clr-bg-main: #a0c9f8;
    --clr-bg-pri: #121637;
    --clr-bg-sec: #b4d4fb;
    --clr-acc-main: #00bea6;
    --clr-acc-pri: #4393f5;
    --clr-acc-sec:  #3676c4;
    --clr-acc-thi: #2e67a9;
    --clr-acc-four: #ad0000;
    --clr-acc-fif: #e03333;
    --clr-text-main: #67696a;
    --clr-text-pri: #36454F;  
    
    --shadow-color: #33cbb8;    
    --main-ff: 'Poppins', sans-serif;
  }

/*===== BASE =====*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-ff);
    font-size: var(--p-fs);
    background: var(--clr-bg-main);
    color: var(--clr-text-main);
    width: 100%;
    min-height: 100vh;
}   

h1, h2, h3, h4,
p, a, li {
    margin: 0;
}

h1 {font-size: var(--h1-fs);}
h2 {font-size: var(--h2-fs);}
h3 {font-size: var(--h3-fs);}
h4 {font-size: var(--h4-fs);}

p, a, li {font-size: var(--p-fs);}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-text-main);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);

    }
}
    /* animation: scaleUp 1s ease-in-out;
    transform-origin: center center; */

/*===== BUTTONS =====*/

.btn {
    display: inline-block;
    background-color:  var(--clr-acc-pri);
    color: #fff;
    padding: .5rem 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    transition: .2s;
}

.btn:last-of-type {
    background-color: transparent;
    color: var(--clr-acc-pri);
}
  
.btn:first-of-type:hover {
    background-color: var(--clr-acc-sec);
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

.btn:last-of-type:hover {
    color: var(--clr-acc-thi);
}

.btn:active {
    scale: .97;
}

/*===== PROJECT CSS =====*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: scaleUp 1s ease-in-out;
    transform-origin: center center;
}

.lineBar {
    position: relative;
    margin-top: .5rem;
    width: 100%;
    left: 0;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lineBox {
    width: 100%;
    height: 12px;
    background-color: var(--clr-acc-thi);
    border-radius: 20px;
    overflow: hidden;
}

.line {
    width: 0;
    height: 100%;
    background: linear-gradient(to right, var(--clr-acc-pri), var(--clr-acc-main));
    /* background-size: 300px 100%; */
    animation: loading1 .65s forwards cubic-bezier(0, 0, 0, 0) 1s;
}

.rateBar {
    position: relative;
    margin-top: 2.5rem;
    width: 100%;
    left: 0;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rateBox {
    width: 100%;
    height: 12px;
    background-color: var(--clr-acc-thi);
    border-radius: 20px;
    overflow: hidden;
}

.rate {
    width: 0;
    height: 100%;
    background: linear-gradient(to right, var(--clr-acc-pri), var(--clr-acc-fif));
    animation: loading1 .65s forwards cubic-bezier(0, 0, 0, 0) 1s;
}

/* check */
.item {
    width: 100%;
    display: flex;
    margin-left: 1.7rem;
    position: relative;
}

/* .check::before {
    font-family: "Font Awesome 6 Free";
    font-size: .8rem;
    content: "\f00c";
    font-weight: 900;
    width: 18px;
    height: 18px;
    background-color: var(--clr-acc-pri);
    box-shadow: 0 5px 10px rgba(98, 222, 1, .5);
    position: absolute;
    color: #fff;
    display: flex;
    justify-content: center;
    left: 0;
    top: 0;
    align-items: center;
    border-radius: 50%;
} */

/* .item:nth-child(1) .check:before {
    animation: showUp .5s ease-in-out 1s backwards;
}

.item:nth-child(2) .check:before {
    animation: showUp .5s ease-in-out 2s backwards;
}

.item:nth-child(3) .check:before {
    animation: showUp .5s ease-in-out 3s backwards;
} */


.check {
    width: 18px;
    height: 18px;
    line-height: 18px;
    background-color: var(--clr-bg-main);
    position: absolute;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 50%;
    left: 0;
    /* left: -27px;
    top: 4px; */
}


.item:last-child .check::before {
    background-color: var(--clr-bg-main);
    color: transparent;
    box-shadow: none;
    z-index: 2;
}

@keyframes loading1 {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}
